// choose the name and size of each breakpoint
$breakpoints: (
	"xxs": 480,
	"xs": 560,
	"s": 640,
	"m": 720,
	"l": 960,
	"xl": 1140,
	"xxl": 1320,
);

// mixin to utilise media queries
@mixin q($name) {
	$mediaSize: map-get($breakpoints, $name);

	@media (min-width: #{$mediaSize}px) {
		@content;
	}
}

//default space between columns
$gap: 40px;
$small-gap: 20px;

.columns {
	display: flex;
	margin-left: ($gap / 2) * -1;
	margin-right: ($gap / 2) * -1;
	flex-wrap: wrap;
	overflow: hidden; // prevent horizontal scrollbar
	&.is-vcentered {
		align-items: center;
	}
	&.is-not-vcentered {
		align-items: stretch;
	}
	&.is-gapless .column {
		padding-left: 0;
		padding-right: 0;
	}
	&.is-centered {
		justify-content: center;
	}
}

.column {
	display: block;
	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 1;
	padding-left: $gap / 2;
	padding-right: $gap / 2;
	&.is-narrow {
		flex: none;
	}
	.is-offset-0 {
		margin-left: 0;
	}
}

.columns--small-gap {
	margin-left: ($small-gap / 2) * -1;
	margin-right: ($small-gap / 2) * -1;
	.column {
		padding-left: $small-gap / 2;
		padding-right: $small-gap / 2;
	}
}

@for $i from 1 through 12 {
	.column.is-#{$i} {
		width: percentage($i/12);
		flex: none;
	}
	.column.is-offset-#{$i} {
		margin-left: percentage($i / 12);
	}
}

// responsive sizes
@each $name, $size in $breakpoints {
	@media (min-width: #{$size}px) {
		.columns {
			&.is-vcentered-#{$name} {
				align-items: center;
			}
			&.is-not-vcentered-#{$name} {
				align-items: stretch;
			}
			&.is-gapped-#{$name} .column {
				padding-left: $gap / 2;
				padding-right: $gap / 2;
			}
		}
		.column {
			&.is-narrow-#{$name} {
				flex: none;
			}
			&.is-offset-0-#{$name} {
				margin-left: 0;
			}
		}

		@for $i from 1 through 12 {
			.column {
				&.is-#{$i}-#{$name} {
					width: percentage($i/12);
					flex: none;
				}

				&.is-offset-#{$i}-#{$name} {
					margin-left: percentage($i / 12);
				}
			}
		}
	}
}
